<html>
    <h1 dir="rtl">
    {{.title}}
    </h1>
    
    <br>
    <br>

    <h3 dir="rtl">
    {{.description}}
    </h3>

    
    <input type="button" style="background-color:green; color:white;"
     onclick="window.location.href='http:localhost:5000/startpage';"
    value="شروع برنامه" />
    


</html>
