<html>
    <h1 dir="rtl" >
    {{.title }}
    </h1>
    
    <br>
    <br>

    <h3 dir="rtl" style="font-size: 30px;"f>
    {{.description}}
    </h3>

    <h1 dir="rtl">
    <input type="button" style="background-color:green; font-size: 30px; color:white;"
     onclick="location.href='startpage';"
    value="شروع برنامه" />
    </h1>
    


</html>
