<!DOCTYPE html>
<html lang="fa">
<head>
<meta charset="UTF-8">
<title>فرم ارسال اطلاعات</title>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<style>
.message {
font-size: 20px;
margin-top: 20px;
text-align: right; /* راستچین کردن متن */
}
</style>
<script>
$(document).ready(function(){
$("form").submit(function(event){
event.preventDefault(); 

$.ajax({
url: "http://localhost:5000/startpage",
type: "POST",
dir:"rtl",
data: $(this).serialize(),
success: function(response){
$("#message").text("اطلاعات با موفقت ثبت شد").css("color", "green");
$("form")[0].reset();
setTimeout(function(){
$("#message").text("");
location.reload();
}, 2000);

},


error: function(xhr, status, error){
if(xhr.status==400){
$("#message").text("نام یا زمان انتخاب نشده است").css("color", "red");
}else if(xhr.status==422){
$("#message").text("تداخلی بین داده ی وارد شده و داده های قبلی دارد").css("color", "red");
}

$("form")[0].reset();
setTimeout(function(){
$("#message").text(""); 
}, 2000);
}
});
});
});
</script>
</head>
<body>
 <h2 dir="rtl">
    {{.title}}
</h2>
<form dir="rtl">
&nbsp;&nbsp;<label for="dname" style="font-size: 30px;">نام درس:</label><br>
&nbsp;&nbsp;<input style="font-size: 17px;" type="text" id="dname" name="dname"><br>
&nbsp;&nbsp;<input style="width:17px; height:17px;" type="checkbox" id="d1" name="day" value="1">
&nbsp;&nbsp;<label for="d1" style="font-size: 30px;">شنبه</label><br>
&nbsp;&nbsp;<input style="width:17px; height:17px;" type="checkbox" id="d2" name="day" value="2">
&nbsp;&nbsp;<label for="d2" style="font-size: 30px;">یک شنبه</label><br>
&nbsp;&nbsp;<input style="width:17px; height:17px;" type="checkbox" id="d3" name="day" value="3">
&nbsp;&nbsp;<label for="d3" style="font-size: 30px;">دوشنبه</label><br>
&nbsp;&nbsp;<input style="width:17px; height:17px;" type="checkbox" id="d4" name="day" value="4">
&nbsp;&nbsp;<label for="d4" style="font-size: 30px;">سه شنبه</label><br>
&nbsp;&nbsp;<input style="width:17px; height:17px;" type="checkbox" id="d5" name="day" value="5">
&nbsp;&nbsp;<label for="d5" style="font-size: 30px;">چهارشنبه</label><br><br>
&nbsp;&nbsp;<label for="starttime"style="font-size: 20px;">ساعت شروع</label>
<select name="starttime" id="starttime"style="font-size: 20px;">
<option value="1">8</option>
<option value="2">8:30</option>
<option value="3">9</option>
<option value="4">9:30</option>
<option value="5">10</option>
<option value="6">10:30</option>
<option value="7">11</option>
<option value="8">11:30</option>
<option value="9">12</option>
<option value="10">12:30</option>
<option value="11">13</option>
<option value="12">13:30</option>
<option value="13">14</option>
<option value="14">14:30</option>
<option value="15">15</option>
<option value="16">15:30</option>
<option value="17">16</option>
<option value="18">16:30</option>
<option value="19">17</option>
<option value="20">17:30</option>
<option value="21">18</option>
<option value="22">18:30</option>
<option value="23">19</option>
<option value="24">19:30</option>
</select>
&nbsp;&nbsp;&nbsp;<label for="endtime"style="font-size: 20px;">ساعت پایان</label>
<select name="endtime" id="endtime"style="font-size: 20px;">
<option value="1">8</option>
<option value="2">8:30</option>
<option value="3">9</option>
<option value="4">9:30</option>
<option value="5">10</option>
<option value="6">10:30</option>
<option value="7">11</option>
<option value="8">11:30</option>
<option value="9">12</option>
<option value="10">12:30</option>
<option value="11">13</option>
<option value="12">13:30</option>
<option value="13">14</option>
<option value="14">14:30</option>
<option value="15">15</option>
<option value="16">15:30</option>
<option value="17">16</option>
<option value="18">16:30</option>
<option value="19">17</option>
<option value="20">17:30</option>
<option value="21">18</option>
<option value="22">18:30</option>
<option value="23">19</option>
<option value="24">19:30</option>
</select><br><br><br>

&nbsp;&nbsp;<input type="submit" style="background-color:black; color:white; font-size: 30px;" value="ثبت درس">

<div id="message" class="message"></div>

<title>جدول هفتگی</title>
<style>
table {
width: 99%;
border-collapse: collapse;
}
th, td {
border: 1px solid black;
padding: 7px;
text-align: center;
}
th {
background-color: #f2f2f2;
}
</style>

<h2 dir="rtl">جدول هفتگی </h2>
<table>
<thead>
<tr>
<th>زمان</th>
<th>شنبه</th>
<th>یکشنبه</th>
<th>دوشنبه</th>
<th>سهشنبه</th>
<th>چهارشنبه</th>
</tr>
</thead>
<tbody>
<tr>
<td>8:00 - 8:30</td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
</tr>
<tr>
<td>8:30 - 9:00</td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
</tr>
<tr>
<td>9:00 - 9:30</td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
</tr>
<tr>
<td>9:30 - 10:00</td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
</tr>
<tr>
<td>10:00 - 10:30</td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
</tr>
<tr>
<td>10:30 - 11:00</td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
</tr>
<tr>
<td>11:00 - 11:30</td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
</tr>
<tr>
<td>11:30 - 12:00</td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
</tr>
<tr>
<td>12:00 - 12:30</td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
</tr>
<tr>
<td>12:30 - 13:00</td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
</tr>
<tr>
<td>13:00 - 13:30</td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
</tr>
<tr>
<td>13:30 - 14:00</td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
</tr>
<tr>
<td>14:00 - 14:30</td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
</tr>
<tr>
<td>14:30 - 15:00</td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
</tr>
<tr>
<td>15:00 - 15:30</td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
</tr>
<tr>
<td>15:30 - 16:00</td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
</tr>
<tr>
<td>16:00 - 16:30</td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
</tr>
<tr>
<td>16:30 - 17:00</td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
</tr>
<tr>
<td>17:00 - 17:30</td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
</tr>
<tr>
<td>17:30 - 18:00</td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
</tr>
<tr>
<td>18:00 - 18:30</td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
</tr>
<tr>
<td>18:30 - 19:00</td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
</tr>
<tr>
<td>19:00 - 19:30</td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
</tr>
</tbody>
</table>
</form>
</html>
